.topright {
    position: absolute;
    top: 50px;
    right: 280px;
    font-size: 18px;
       padding:1px;
   border:1px solid black;
   background-color:white;
}

#border {
   
    width: 350px;
    font-size: 60px;
    text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}

body {

 padding:2% 20% 2% 20%;          justify-content: center;
    
	
background: rgba(243,226,199,1);
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 84%, rgba(182,141,76,1) 94%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,226,199,1)), color-stop(84%, rgba(193,158,103,1)), color-stop(94%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 84%, rgba(182,141,76,1) 94%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 84%, rgba(182,141,76,1) 94%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 84%, rgba(182,141,76,1) 94%, rgba(233,212,179,1) 100%);
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 84%, rgba(182,141,76,1) 94%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=0 );
}

h2 {
    text-decoration: underline;
    -moz-text-decoration-color: red; /* Code for Firefox */
    text-decoration-color: red;
}



h1 {font-family: 'Raleway', sans-serif;}

#intro{border:1px solid black;
	padding:10px;
    font-family: 'Raleway', sans-serif;
     }  